{% extends "restaurant_review/base.html" %}
{% load static %}
{% load restaurant_extras %}
{% block title %}Restaurant List{% endblock %}
{% block head %}
    {{ block.super }}
    <style>
      body {
          min-height: 75rem;
          padding-top: 4.5rem;
      }

      .score {
        display: block;
        font-size: 16px;
        position: relative;
        overflow: hidden;
      }
      
      .score-wrap {
        display: inline-block;
        position: relative;
        height: 19px;
      }
      
      .score .stars-active {
        color: #EEBD01;
        position: relative;
        z-index: 10;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
      }
      
      .score .stars-inactive {
        color: grey;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-text-stroke: initial;
        /* overflow: hidden; */
      }
  </style>
{% endblock %}
{% block content %}
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'images/1.png' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>ABC Restaurant</h5>
        <p>Italian restaurant</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/2.png' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>XYZ Restaurant</h5>
        <p>Seafood Restaurant</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/3.png' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>123 Restaurant</h5>
        <p>French Restaurant</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>



</div>
  {% if LastViewedRestaurant %}
      <h3>Last viewed restaurant (saved in cache): {{ LastViewedRestaurant }}</h3>
  {% endif %}
  <h1>Restaurants</h1>

  {% if restaurants %}
      <table class="table">
          <thead>
              <tr>
                  <th>Name</th>
                  <th>Rating</th>
                  <th class="text-end">Details</th>
              </tr>
          </thead>
          <tbody>
              {% for restaurant in restaurants %}
                  <tr>
                      <td>{{ restaurant.name }}</td>
                      <td>{% star_rating restaurant.avg_rating restaurant.review_count   %}   </td>
                      <td class="text-end"><a href="{% url 'details' restaurant.id %}" class="btn btn-sm btn-primary">Details</a></td>
                  </tr>
              {% endfor %}
          </tbody>
      </table>
  {% else %}
      <p>No restaurants exist.  Select Add new restaurant to add one.</p>
  {% endif %}

  <div class="d-flex justify-content-end">
          <a href="{% url 'create_restaurant' %}" class="btn btn-success px-4 gap-3">Add new restaurant</a>
  </div>
{% endblock %}